body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/

.header{
    background-color: #131925;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo{
    margin-right: auto;
    width: 150px;
    height: 50px;
    margin-left: 30px;
}

.header .links{
    margin-right: 30px;
    display: flex;
    gap: 20px;
}

.header a{
    text-decoration: none;
    color: #ffffff;
}
