body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/

.header{
    background-color: #fbe9e9;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo{
    margin-right: auto;
    width: 150px;
    height: 50px;
    margin-left: 30px;
}

.header .links{
    margin-right: 30px;
    display: flex;
    gap: 20px;
}

.header a{
    text-decoration: none;
    color: #f88d8d;
}

/*BODY*/

/*PRINCIPAL*/

.principal{
    padding: 100px 20%;
    background-color: #ffffff;
    display: flex;
}

.principal .img-box{
    width: 500px;
    height: 500px;
    border: 2px solid #aaaaaa;
    display: flex;
}

/*
}

.principal img{
    border: 2px solid white;
    box-shadow: 8px 8px 5px rgb(107, 107, 107);
    width: 200px;
    height: 200px;
}

.principal .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% 5%;
    gap: 20px;
}

.principal .text .title{
    font-size: 34px;
    font-weight: 900;
}
*/