/*PRINCIPAL*/

.principal{
    background-color: #ebebeb;
    display: flex;
    padding: 50px;
    margin: 40px 80px;
}

.principal img{
    width: 400px;
    border: 2px outset #525252;
}

.principal .container{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.principal .container .title{
    font-size: 40px;
    font-weight: 600;
    color: #525252;
}

.principal .container .subtext{
    font-size: 30px;
    font-weight: 300;
    color: #525252;
}