{% extends 'base.html' %}

{% block style %} <link rel="stylesheet" href="/static/styles/home.css"> {% endblock %}

{% block title %} Victoria's Personal Website - Homepage {% endblock %}

{% block content %}
<div class="principal">
    <div class="img-box">
        <img class="profile-pic" src="/static/profile-victoria.png" alt="My Photo">
        <div><hr></div>
        <div class="img-text">Come visit my personal profiles!</div>
        <div class="icons">
            <a href=""><img class="social" src="/static/insta-icon.png" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/victoria-macarena-gardella-ruiz-a8bab2234/"><img class="social" src="/static/linked-icon.png" alt="LinkedIn"></a>
            <a href="https://github.com/vicky-unlp"><img class="social" src="/static/github-icon.png" alt="GitHub"></a>
        </div>
    </div>
    <div class="text">
        <div class="title">Victoria Gardella</div>
        <div class="subtext">This site was made using Flask not only as a project itself,
            but as a way to tell you a little bit about me and show my resume in a atractive format. I hope you enjoy my
            work!
        </div>
    </div>
</div>
<div class="introduction">
    <div class="text">
        <div class="title">About myself:</div>
        <div class="subtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto veritatis vitae
            tempora
            laboriosam suscipit saepe explicabo, unde, soluta quam commodi, dolorum qui neque nisi libero inventore?
            Voluptates minima quasi ipsam?
        </div>
    </div>
    <img src="http://placekitten.com/600/400" alt="Image Slider">
</div>
<div class="likes-dislikes">
    <div class="title">Likes and Dislikes</div>
    <div class="imgs">
        <div class="container">
            <img src="http://placekitten.com/100/100" alt="">
            <div class="like1"></div>
        </div>
        <div class="container">
            <img src="http://placekitten.com/100/100" alt="">
            <div class="like2"></div>
        </div>
        <div class="container">
            <img src="http://placekitten.com/100/100" alt="">
            <div class="like3"></div>
        </div>
        <div class="container">
            <img src="http://placekitten.com/100/100" alt="">
            <div class="like4"></div>
        </div>
    </div>
</div>
<div class="future">
    <div class="expectations">
        <div class="title">Looking for Work!</div>
        <div class="subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero vel necessitatibus ratione
            perspiciatis aliquam, assumenda consectetur, dolorum excepturi deserunt beatae repellat fuga! Molestiae
            voluptates laudantium et praesentium dolore rem quod.</div>
    </div>
</div>
{% endblock %}