{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="/static/styles/portfolio.css"> {% endblock %}

{% block title %} Victoria's Personal Website - Portfolio {% endblock %}

{% block content %}
<div class="principal">
    <img src="/static/home_office_12.jpg">
    <div class="container">
        <div class="title">My Projects</div>
        <div class="divider"><hr></div>
        <div class="subtext">Come and see the projects I have been working on!
        </div>
    </div>
</div>
<section class="porfolio">
    <div class="post">
        <img src="" alt="">
        <h4>Project 1</h4>
        <p>Description of Project 1: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam hic maxime
            delectus iste rem optio ullam sed. Debitis culpa eos iure blanditiis adipisci, voluptates deleniti, labore
            repellendus, iste maxime minima!</p>
        <a class="post-btn" href="">More</a>
    </div>
    <div class="post">
        <img src="" alt="">
        <h4>Project 1</h4>
        <p>Description of Project 1: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam hic maxime
            delectus iste rem optio ullam sed. Debitis culpa eos iure blanditiis adipisci, voluptates deleniti, labore
            repellendus, iste maxime minima!</p>
        <a class="post-btn" href="">More</a>
    </div>
    <div class="post">
        <img src="" alt="">
        <h4>Project 1</h4>
        <p>Description of Project 1: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam hic maxime
            delectus iste rem optio ullam sed. Debitis culpa eos iure blanditiis adipisci, voluptates deleniti, labore
            repellendus, iste maxime minima!</p>
        <a class="post-btn" href="">More</a>
    </div>
    <div class="post">
        <img src="" alt="">
        <h4>Project 1</h4>
        <p>Description of Project 1: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam hic maxime
            delectus iste rem optio ullam sed. Debitis culpa eos iure blanditiis adipisci, voluptates deleniti, labore
            repellendus, iste maxime minima!</p>
        <a class="post-btn" href="">More</a>
    </div>
    <div class="post">
        <img src="" alt="">
        <h4>Project 1</h4>
        <p>Description of Project 1: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam hic maxime
            delectus iste rem optio ullam sed. Debitis culpa eos iure blanditiis adipisci, voluptates deleniti, labore
            repellendus, iste maxime minima!</p>
        <a class="post-btn" href="">More</a>
    </div>
</section>
{% endblock %}