{% extends 'base.html' %}

{% block style %} <link rel="stylesheet" href="/static/styles/work.css"> {% endblock %}

{% block title %} Victoria's Personal Website - Work Experience{% endblock %}

{% block content %}

<section class="message">
    <div class="container">
        <div class="img">
            <img src="" alt="Important Message">
        </div>
        <div class="text">
            <div class="title">Looking for Work!</div>
            <div class="text">At the moment I'm looking for a full-time job: I'm intrested in programmer and
                developer positions, both as a junior or trainee. If you are interested in any of the
                projects I'm working on please let me know!</div>
        </div>
    </div>
</section>

{% endblock %}