{% extends 'base.html' %}

{% block style %} <link rel="stylesheet" href="/static/styles/work.css"> {% endblock %}

{% block title %} Victoria's Personal Website - Work Experience{% endblock %}

{% block content %}

<section class="principal">
    <div class="banner">
        <div class="container">
            <div class="title">Work experience</div>
            <div class="divider"><hr></div>
            <div class="subtext">These are my previous jobs!
            </div>
        </div>
    </div>
</section>

<section class="work-experience">
    <div class="img">
        <img src="/static/aula3.jpg">
    </div>
    <div class="text">
        <div class="title">Assistant Professor</div>
        <div class="ubication">La Plata National University (Universidad Nacional de La Plata)</div>
        <hr>
        <div class="info">Description: 
            <ul>
                <li>Teaching tasks in the area of Basic Chemistry.</li>
                <li>Explanation of abstract theorical concepts.</li>
                <li>Team leading in complex laboratory tasks.</li>
            </ul>
        </div>
    </div>
</section>

<section class="message">
    <div class="container">
        <div class="img">
            <img src="" alt="Important Message">
        </div>
        <div class="text">
            <div class="title">Help me expand this page!</div>
            <div class="subtext">At the moment I'm looking for a full-time job: I'm intrested in programmer and
                developer positions, both as a junior or trainee. If you are interested in any of the
                projects I'm working on please let me know!</div>
        </div>
    </div>
</section>
{% endblock %}